body{
   padding: 0;
   margin: 0;
   color: white;
   font-family: 'Nunito Sans', sans-serif;
}
#part1{
    height: 100vh;
    display: flex;
    background-image: url("/img/25016-___code-on.jpg");
    background-size: cover;
    background-position: center;
}
#part1>footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        justify-content: flex-end;
}
.arrow i {
  animation-name: up-and-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes up-and-down {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.p1_body{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    background-color: #4c4573a1;
}