body{
   padding: 0;
   margin: 0;
   color: white;
   font-family:  'Montserrat', sans-serif;
   -ms-overflow-style: none;
}
html {
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
#part1{
    height: 100vh;
    display: flex;
    background-image: url("/img/25016-___code-on.jpg");
    background-size: cover;
    background-position: center;
}
#part1>footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        justify-content: flex-end;
}
.arrow{
    text-decoration: none;
    color: white;
}
.arrow i {
  animation-name: up-and-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes up-and-down {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.p1_body{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    background-color: #4c4573a1;
}
#part2{
    height: 100vh;
    background-color: yellow;
    color: black;
}
.cmnsec{
    padding: 50px;
}
.about_head{
    font-size: xx-large;
}

.about_body{
    display: flex;    
}
.about_body>ul{
    line-height: 50px;
}
#part2 footer{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}
#part2 footer a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #888888;
}
#part2 footer a:active{
    translate: ;
    box-shadow: none;
}
.btncmps{
    margin-left: 10px;
}
#part3{
    background: url("/img/bg1.png");
    position: relative;
}
.part3cmnsec{
    padding-top: 50px;
}
.part3_head{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 50px;
}
.ziimg{
    width:40%;
}
.livespreeimg{
    width:50%;
}
.livespree-body{
    margin-top: 100px;
    padding-bottom: 100px;
}
.zibyzeany-body,.livespree-body{
    display: flex;
    flex-flow: row;
}
.zidtl{
    width: 50%;    
    padding-left: 50px;
}
.zidtl-head{
    font-size: larger;
}
.zidtl-dtl{
    margin-top: 10px;
    font-size: small;
}
.zidtl-resp{    
    margin-top: 30px;
    font-size: medium;

}
.zidtl-features{
    margin-top: 10px;
    font-size: small;
    line-height: 25px;
}